<!--
<div class="profile" ng-show="vm.profile">
  <div class="jumbotron profile__header">
    <h1 class="profile__username">{{ vm.profile.user.username }}</h1>
    <h2 class="profile__email">{{ vm.profile.user.email }}</h2>
  </div>
</div>
-->

<div class="profile" ng-show="vm.profile">
  <div class="panel panel-default">
    <div class="panel-heading">
      {{ vm.profile.user.username }}
    </div>
    <div class="row">
      <div class="col-md-3">
        Avatar should be here
      </div>
      <div class="col-md-5 panel-body">
        <h3 class="user-profile-name">{{ vm.profile.user.last_name }} {{ vm.profile.user.first_name }} </h3>
        <p>Trường: {{ vm.profile.school }} </p>
        <p>Lớp: {{ vm.profile.class_in_school }} </p>
        <p>Ngày lập tài khoản: {{ vm.profile.created_at | date }}
        <p>Email: {{ vm.profile.user.email }}
      </div>
      <div class="col-md-4">
        <h3 class="user-statistic">Thông số</h3>
        <p>Tổng điểm: {{ vm.total_score }}</p>
        <!--<p>Số lần trả lời đúng: {{ vm.count_correct_answer }}</p>
        <p>Số lần trả lời sai: {{ vm.count_wrong_answer }}</p>
        <p>Phần trăm làm đúng: {{ (vm.count_correct_answer/(vm.total_record))*100 }} %</p>-->
        <canvas id="pie" class="chart chart-pie"
          chart-data="vm.dataChart" chart-labels="vm.labels">
        </canvas> 
        <p style="text-align: center">Biểu đồ phần trăm câu làm đúng</p>
      </div>
    
  </div>
</div>