<div class="col-md-4 col-md-offset-4">
  <div class="well" ng-show="vm.profile">
    <form role="form" class="settings" ng-submit="vm.update()">
      <div class="form-group">
        <label for="settings__email">Email</label>
        <input type="text" class="form-control" id="settings__email" ng-model="vm.profile.user.email" />
      </div>

      <div class="form-group">
        <label for="settings__name">Tên</label>
        <input type="text" class="form-control" id="settings__name" ng-model="vm.profile.user.first_name" />
      </div>

      <div class="form-group">
        <label for="settings__password">Mật khẩu mới</label>
        <input type="password" class="form-control" id="settings__password" ng-model="vm.profile.user.password" />
      </div>

      <div class="form-group">
        <label for="settings__confirm-password">Xác nhận lại mật khẩu</label>
        <input type="password" class="form-control" id="settings__confirm-password" ng-model="vm.profile.user.confirm_password" />
      </div>

      <div class="form-group">
        <label for="settings__school">Trường</label>
        <input type="text" class="form-control" id="settings__school" ng-model="vm.profile.school" />
      </div>

      <div class="form-group">
        <label for="settings__class">Lớp</label>
        <input type="text" class="form-control" id="settings__class" ng-model="vm.profile.class_in_school" />
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
        <button type="button" class="btn btn-danger pull-right" ng-click="vm.destroy()">Delete Account</button>
      </div>
    </form>
  </div>
</div>