<div class="row">
  <div class="col-md-3">
    <div class="list-group">
      <p class="list-group-item disabled">Lớp</p>
      <div ng-repeat="grade in vm.grades track by $index">
        <div ng-if="vm.currentGrade == grade">
          <a class="list-group-item active" ng-click="vm.currentGrade = grade; vm.switchGrade()">{{grade.name}}</a>
        </div>
        <div ng-if="vm.currentGrade != grade">
          <a class="list-group-item" ng-click="vm.currentGrade = grade; vm.switchGrade()">{{grade.name}}</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-9">
    <div class="well">
      <h2>{{ vm.currentGrade.name }}</h2>
      <ul ng-repeat="exam in vm.exam_list">
        <a href="ranking/{{exam.id}}">{{exam.name}}</a>
      </ul>
    </div>
  </div>
</div>
