#avatar {
  text-align: center;
}

#avatar img {
  max-width: 90%;
  max-height: 90%;
  margin-left: 0.5em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  border-radius: 10%;
}

#change-avatar-button {
  margin-bottom: 0.5em;
}

#upload-button {
  margin-top: 0.5em;
}

.user-profile-name {
	margin-top: -0.2em;
}
.user-statistic {
	margin-top: .5em;
}