<!-- Slide bar -->
<div class="row main-jumbotron">
  <div class="container">
    <h2>Toán học không khó cùng với EasyMath!!!</h2>
    <p>
      Tham gia ngay để nâng cao khả năng toán học của bạn.
    </p>
    <p class="main-jumbotron-button"><a href="/learning/1" class="btn btn-primary" role="button">Learn now</a></p>
  </div>
</div>
<!-- End Slide bar -->

<!-- Choosing grade menu -->
<div class="row main-grade-menu-container">
    <div class="row main-row-list-grades" id="grade_button">
        <div class="col-sm-6 col-md-4" ng-repeat="grade in [1, 2, 3, 4, 5, 6] track by $index">
          <a href="/learning/{{grade}}">
            <input type="image" src="{{vm.link(grade)}}"/>
          </a>
        </div>
    </div>  
</div>
<!-- End choosing grade menu -->



