<!DOCTYPE html>
<html lang="en" ng-app="se2015">
<head>
  <meta charset="utf-8">
  <title>Trang chủ</title>

  <base href="/" /> 
  
  <!-- Boostrap CSS loader -->
  <link href = "static/css/bootstrap.css" rel="stylesheet">
  <link href = "static/css/base.css" rel="stylesheet">
  <link href = "static/css/main.css" rel="stylesheet">
  <link href = "static/css/question.css" rel="stylesheet">
</head>

<body>
  <div class="base-body-background">
    <!-- Nav bar -->
    <nav role="navigation" class="navbar navbar-default">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <div class="navbar-header">
            <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand">EasyMath</a>
          </div>
          <div id="navbarCollapse" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="/">Home</a></li>
              <li><a href="/learning">Learning</a></li>
              <li><a href="#">Contest</a></li>
              <li><a href="#">Ranking</a></li>
              <li><a href="#">Forum</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              {% if user.is_authenticated %}
                <li class="navbar-username"><a href="#">{{ user.username }}</a></li>
                <li class=""><a href="/">Logout</a></li>
              {% else %}
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Register</a></li>
              {% endif %}
            </ul>
          </div>
        </div>
        <div class="col-md-2"></div>
      </div>
    </nav>
    <!-- End Nav Bar -->
    <!-- Body -->
    <div class="row">
      <div class="col-md-2"></div>
      <div ng-view class="col-md-8">
      </div>
      <div class="col-md-2"></div>
    </div>
    <!-- End Body-->
    <!-- Footer -->
    <!--
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        {% block footer_container %}
        <div class="row base-footer-container">
          <div class="col-md-1"></div>
          <div class="col-md-4">
            <h2>Contact us</h2>
            <p>Email:.....</p>
            <p>Tel:....</p>
          </div>
          <div class="col-md-4">
            <h2>About us</h2>
            <p>Đẹp trai</p>
            <p>Đẹp trai</p>
          </div>
          <div class="col-md-2">
            <h2>
              <a href="#" class="btn btn-primary" role="button">Facebook</a> 
              <a href="#" class="btn btn-default" role="button">G+</a>
             </h2>
          </div>
          <div class="col-md-1"></div>
        </div>
        {% endblock footer_container %}
      </div>
      <div class="col-md-2"></div>
    </div>
    -->
    <!-- End footer -->
  </div>
  {% include 'javascripts.html' %}
</body>
</html>