<!DOCTYPE html>
<html lang="en" ng-app="se2015">
<head>
  <meta charset="utf-8">
  <title>Trang chủ</title>

  <base href="/" /> 
  
  <!-- Boostrap CSS loader -->
  <link href = "static/css/bootstrap.css" rel="stylesheet">
  <link href = "static/css/base.css" rel="stylesheet">
  <link href = "static/css/main.css" rel="stylesheet">
  <link href = "static/css/question.css" rel="stylesheet">
  <link href = "static/css/user.css" rel="stylesheet">
</head>

<body>
  <div class="base-body-background">
    <!-- Nav bar -->
    {% include 'navbar.html' %}
    <!-- End Nav Bar -->
    <!-- Body -->
    <div class="row">
      <div class="col-md-2"></div>
      <div ng-view class="col-md-8">
      </div>
      <div class="col-md-2"></div>
    </div>
    <!-- End Body-->
    <!-- Footer -->
    <!--
    {% include 'footer.html' %}
    -->
    <!-- End footer -->
  </div>
  {% include 'javascripts.html' %}
</body>
</html>