{% load compress %}
{% load staticfiles %}

{% compress js %}

<script type="text/javascript" src="{% static 'bower_components/angular/angular.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-route/angular-route.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-cookies/angular-cookies.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-resource/angular-resource.min.js' %}"></script>

<script type="text/javascript" src="{% static 'javascripts/se2015.js' %}"></script>

<script type="text/javascript" src="{% static 'javascripts/se2015.config.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/se2015.routes.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/learning.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/users/users.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/users/services/users.service.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/users/controllers/register.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/users/controllers/login.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/profiles/profiles.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/profiles/services/profiles.service.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/profiles/controllers/profiles.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/profiles/controllers/profile-settings.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/learning.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/question.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/layout/layout.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/layout/controllers/navbar.controller.js' %}"></script>

<script type="text/javascript" src="{% static 'javascripts/jQuery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/bootstrap.min.js' %}"></script>
{% endcompress %}
