<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <h1>Register</h1>

    <div class="well">
      <form role="form" ng-submit="vm.register()">
        <div class="form-group">
          <label for="register__email">Email</label>
          <input type="email" class="form-control" id="register__email" ng-model="vm.email" placeholder="ex. john@gmail.com" />
        </div>

        <div class="form-group">
          <label for="register__username">Họ và tên</label>
          <input type="text" class="form-control" id="register__name" ng-model="vm.name"/>
        </div>

        <div class="form-group">
          <label for="register__username">Tên đăng nhập</label>
          <input type="text" class="form-control" id="register__username" ng-model="vm.username"/>
        </div>

        <div class="form-group">
          <label for="register__password">Mật khẩu</label>
          <input type="password" class="form-control" id="register__password" ng-model="vm.password" />
        </div>

        <div class="form-group">
          <label for="register__password">Xác nhận mật khẩu</label>
          <input type="password" class="form-control" id="register__confirm_password" ng-model="vm.confirm_password" />
        </div>

        <div class="form-group">
          <label for="register__school">Trường</label>
          <input type="text" class="form-control" id="register__school" ng-model="vm.school" />
        </div>

        <div class="form-group">
          <label for="register__class">Lớp</label>
          <input type="text" class="form-control" id="register__sclass" ng-model="vm.class_in_school" />
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>