{% extends 'base.html' %}
{% load staticfiles %}

{% block extra_head %}
<link href = "static/css/main.css" rel="stylesheet">
{% endblock extra_head %}

{% block body_container %}
<!-- Slide bar -->
<div class="row main-jumbotron">
  <div class="container">
    <h2>Math is easy!!!</h2>
    <p>
      Math is super easy, believe me...
    </p>
    <p>
      Join us to improve your mathematic skills.
    </p>
    <p class="main-jumbotron-button"><a href="#" class="btn btn-primary" role="button">Learn now</a></p>
  </div>
</div>
<!-- End Slide bar -->

<!-- Choosing grade menu -->
<div class="row main-grade-menu-container">
  {% for i in "xx" %}
    <div class="row main-row-list-grades">
      {% for i in "xxx" %}
        <div class="col-md-4">
          <div class="thumbnail">
            <!--<img class="main-thumbnail-image" src="https://palitosdefosforo.files.wordpress.com/2013/01/1-1-3.jpeg">-->
            <img class="main-thumbnail-image" src="{% static "image/grade1.jpeg" %}">
            <div class="caption">
              <h3>Grade 1</h3>
              <p>Math for grade 1</p>
              <p><a href="#" class="btn btn-primary" role="button">Learn</a></p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>  
  {% endfor %}
</div>
<!-- End choosing grade menu -->

{% endblock body_container %}